.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  margin: 10px;
  border: 5px solid black;
  width: 300px;
  text-align: center;
}

.item-img {
  width: 200px;
}

.win {
  border: 5px solid green;
  color: green;
}

.lose {
  border: 5px solid red;
  color: red;
}
.draw {
  border: 5px solid black;
  color: black;
}
